*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.debug .border{
    border: 2px dashed black;
}
h2{
 font-size: 60px;
 margin-bottom: 10px;
 padding-top: 25px;
}
/* header */
header{
    background-color: #3161E0;
}
.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar > * {
    padding: 10px;
    flex-basis: 20%;
}
.navbar-menu{
    flex-grow: 1;
    text-align: center;
}
.navbar-actions {
    text-align: right;
}
.jumbotron {
    background-image: url(img/jumbo.png);
    background-size:100%;
    background-repeat: no-repeat;
    height: 500px;
    padding: 50px;
}
.jumbotron .content {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 100;
    line-height: 37px;
}
.content,h1{
    font-size: 60px;
    font-weight: 600;
    margin: 50px;
}
    /* main */
section{
    height: ;
    padding: 60px 0;
}
section > .container {
    height: 100%;
}
.bg-white {
    background-color: white;
}
.bg-grey {
    background-color: lightslategray;
}
.flex > .small-col {
    flex-basis: 40%;
}
.flex > .large-col {
    flex-basis: 60%;
}
.flex > .full-col {
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    color: white;
    background-color: black;
    padding: 50px 0;
}
.footer-top{
    height: 600px;
    display: flex;
    border-bottom: 1px solid violet;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.footer-left {
    flex-basis: 30%;
    background-color: lightcoral;
}
.footer-right {
    flex-basis: 70%;
    background-color: aquamarine;
}
.footer-nav {
    display: flex;
    height: 100%;
}
.footer-nav .nav-col {
    flex-basis: 25%;
}
.footer-bottom {
    display: flex;
    justify-content:space-between;
    background-color: aqua;
    padding: 10px 0;
    align-items: center;
}
.footer-bottom > * {
    background-color:pink;
    padding: 5px;
}
a {
    text-decoration: none;
    padding: 30px;
    color: white;
}
.button {
    background-color: white;
    border-color: white;
    border-radius: 10px;
}
a.button {
    padding: 3px 6px;
    color: black;
}
.mac-button{
    text-decoration: none;
    padding: 30px;
    border-radius: 22px;
    padding: 12px 27px;
    margin: 13px;   
}
p{
    margin-bottom: 10px
}
.icon{
    padding-right: 20px;
}
.white{
    background-color: white;
    border-color: white;
    color: black;
}
.black{
    background-color: black;
    border-color: black;
    color: white;
}
.small-col p{
    line-height: 28px;
    font-size: 21px;
}
svg{
    display: block;
    color:lightslategray;
}
.up-side-down{
    rotate: 0.5turn;
}
h3{
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    background-size:contain;
    padding: 24px 40px 0;
    font-size: 24px;
}
.download{
    background-color:#3161E0;
    border-color:3161E0;
    color: white;
}
.blue{
    color: #3161E0;
    font-size: 16px;
}